[submodule "qxmpp"]
	path = qxmpp
	url = https://github.com/VirgilSecurity/qxmpp.git
[submodule "virgil-iotkit"]
	path = virgil-iotkit
	url = https://github.com/VirgilSecurity/virgil-iotkit.git
[submodule "breakpad"]
	path = breakpad
	url = https://github.com/VirgilSecurity/breakpad-cmake.git
[submodule "ext/qtwebdriver"]
	path = ext/qtwebdriver
	url = https://github.com/VirgilSecurity/qtwebdriver.git
